@model SpaceAgency.Intranet.TwoViews.TwoViewsAtOnce

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h1>Details</h1>

        <div>
            <h4>Pioneer</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Pioneer.Name)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Pioneer.Name)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Pioneer.SurName)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Pioneer.SurName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Pioneer.Status)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Pioneer.Status)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Pioneer.CurrentPlanet)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Pioneer.CurrentPlanet)
                </dd>
            </dl>
        </div>
    </div>
</div>