@model SpaceAgency.Data.Data.CMS.Page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpaceAgency.SiteWWW</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      @await Html.PartialAsync("Pages",(IEnumerable<SpaceAgency.Data.Data.CMS.Page>)ViewBag.ModelPages)
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">@Model.Header</h1>
        <div class="row center">
          <h5 class="header col s12 light">@Model.TopContent</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="~/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  @RenderBody() <!--To nic nie robi u mnie bo były konflikty w typie danych, przeniosłem zawartość do "MainContent"-->

  <div class="container grey lighten-1">
    <div class="section">
        @await Html.PartialAsync("MainContent",(IEnumerable<SpaceAgency.Data.Data.CMS.MainContent>)ViewBag.ModelMainContent)
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="~/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
          <h5 class="white-text">@Model.BotContent </h5>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">Rafał Olejniczak</a>
      </div>
    </div>
  </footer>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
