@model SpaceAgency.Intranet.TwoViews.TwoViewsAtOnce

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h1>Details</h1>

        <div>
            <h4>Structure</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Name)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Name)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Type)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Type)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Planet)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Planet)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Longitude)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Longitude)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Latitude)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Latitude)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Structure.Status)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Structure.Status)
                </dd>
            </dl>
        </div>
    </div>
</div>